/*--------------------------------------------------------------
>>>Media Queries - small devices, tablets (larger than 768 px)
----------------------------------------------------------------
Author: Eduardo Pereira do Carmo
Date: 2019-11-14
Description: Media Queries for small devices and tablets
----------------------------------------------------------------

/*--------------------------------------------------------------
>>> Log
----------------------------------------------------------------
- Eduardo Pereira do Carmo (2019-11-14)
File created and set the size of the device

- Eduardo Pereira do Carmo (2019-11-14) 
Add Generic (Main) media queries
----------------------------------------------------------------

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 Generic (All pages)
    0.1 Footer 
        0.1.1 Footer CTA 
        0.1.2 Footer Social Media Links
--------------------------------------------------------------*/
//and (max-width: 992px)
@media only screen and (min-width: 768px) {

    /*--------------------------------------------------------------
    0.0 Generic (All pages)
        0.1 Footer 
            0.1.1 Footer CTA 
    --------------------------------------------------------------*/

    /*--------------------------------------------------------------
    0.1 Footer
    --------------------------------------------------------------*/
    footer {
        &.footer {

            /*--------------------------------------------------------------
        0.1.1 Footer CTA
        --------------------------------------------------------------*/
            >.footer-cta {
                >.footer-cta-container {
                    >div.footer-cta-img {
                        text-align: center;
                    }
                }
            }
        }
    }
}