/*--------------------------------------------------------------
>>> Footer
----------------------------------------------------------------
Author: Eduardo Pereira do Carmo
Date: 2019-11-14
Description: Main Footer of our Template
----------------------------------------------------------------

/*--------------------------------------------------------------
>>> Log
----------------------------------------------------------------
- Eduardo Pereira do Carmo (2019-11-14)
File created and set style for footer
----------------------------------------------------------------

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Footer CTA
2.0 Footer Social Media Links
3.0 Footer Copyright
--------------------------------------------------------------*/

footer {
    overflow: hidden;

    &.footer {

        /*--------------------------------------------------------------
        1.0 Footer CTA
        --------------------------------------------------------------*/
        >.footer-cta {
            background-image: linear-gradient(to right, white, #ff9999);
            z-index: 2;
            position: relative;
            background-repeat: no-repeat;
            padding: 30px;

            >.footer-cta-container {
                >h2 {
                    text-align: center;
                    padding: 0 0 30px 0;
                    display: inline-block;
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: 2px;
                    background-image: linear-gradient(to bottom right, #000000, #ed0024);
                    -webkit-background-clip: text;
                    /*text doi mau thanh gradient (gradient text)*/
                    color: transparent;
                    transition: all .2s;

                    &:hover {
                        transform: skewY(2deg) skewX(-2deg);
                        /* scaleX(1.2)  make text bigger*/
                        text-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.4);
                    }
                }

                >div.footer-cta-img {
                    margin-bottom: 30px;
                }
            }

            >.footer-bgVid-container {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: .3;
                z-index: -1;

                >.footer-bgVid {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        /*--------------------------------------------------------------
        2.0 Footer Social Media Links
        --------------------------------------------------------------*/
        >.footer-social-links-menu {
            ul {
                text-align: center;

                li {
                    display: inline-block;
                    padding: 0;

                    >a {
                        line-height: 0;
                        font-size: 0;
                        color: transparent;
                        display: block;
                        height: 39px;
                        width: 39px;
                        background-size: 39px;
                        transition: all .2s;
                        outline-offset: 8px;

                        &:hover {
                            outline: 3px solid #ed0024;
                            transform: scale(1.1) translateY(-.75rem);
                            z-index: 1;
                        }
                    }

                    &.icon-facebook {
                        a {
                            background-image: url("assets/images/icon_facebook.png");
                        }
                    }

                    &.icon-twitter {
                        a {
                            background-image: url("assets/images/icon_twitter.png");
                        }
                    }

                    &.icon-youtube {
                        a {
                            background-image: url("assets/images/icon_youtube.png");
                        }
                    }

                    &.icon-instagram {
                        a {
                            background-image: url("assets/images/icon_instagram.png");
                        }
                    }
                }
            }

        }

        /*--------------------------------------------------------------
        3.0 Footer Copyright
        --------------------------------------------------------------*/
        >.footer-copyright {
            padding: 30px;
            text-align: center;

            a {
                color: $primary-color;
                text-decoration: underline;
                text-decoration-color: $primary-color;
            }
        }
    }
}