/*--------------------------------------------------------------
Main - Footer
--------------------------------------------------------------*/
footer {
    &.footer {

        /* Footer CTA */
        >.footer-cta {
            background-image: url("assets/images/get_the_app_bg_1.jpg");
            background-position: -280px -150px;
            background-size: 810px;
            background-repeat: no-repeat;
            padding: 30px;

            >.footer-cta-container {
                >h2 {
                    text-align: center;
                    padding: 0 0 30px 0;
                }

                >div.footer-cta-img {
                    margin-bottom: 30px;
                }
            }
        }

        /* Footer Social Media Links */
        >.footer-social-links-menu {
            ul {
                text-align: center;

                li {
                    display: inline-block;
                    padding: 0;

                    >a {
                        line-height: 0;
                        font-size: 0;
                        color: transparent;
                        display: block;
                        height: 39px;
                        width: 39px;
                        background-size: 39px;
                    }

                    &.icon-facebook {
                        a {
                            background-image: url("assets/images/icon_facebook.png");
                        }
                    }

                    &.icon-twitter {
                        a {
                            background-image: url("assets/images/icon_twitter.png");
                        }
                    }

                    &.icon-youtube {
                        a {
                            background-image: url("assets/images/icon_youtube.png");
                        }
                    }

                    &.icon-instagram {
                        a {
                            background-image: url("assets/images/icon_instagram.png");
                        }
                    }
                }
            }

        }

        /* Footer Copyright */
        >.footer-copyright {
            padding: 30px;
            text-align: center;
        }
    }
}