footer {
    &.footer {
        >.footer-cta {
            //linear-gradient(to right bottom, #f16f3b73, #732a1085),
            background-image: url("assets/images/get_the_app_bg_1.jpg");
            background-position: -280px -150px;
            background-size: 810px;
            background-repeat: no-repeat;
            padding: 30px;

            >.footer-cta-container {
                >h2 {
                    text-align: center;
                    padding: 0 0 30px 0;
                }

                >div.footer-cta-img {
                    margin-bottom: 30px;
                }
            }
        }

        >.footer-social-links-menu {
            ul {
                text-align: center;

                li {
                    display: inline-block;
                    padding: 0;

                    >a {
                        line-height: 0;
                        font-size: 0;
                        color: transparent;
                        display: block;
                        height: 39px;
                        width: 39px;
                        background-size: 39px;
                    }

                    &.icon-facebook {
                        a {
                            background-image: url("assets/images/icon_facebook.png");
                        }
                    }

                    &.icon-twitter {
                        a {
                            background-image: url("assets/images/icon_twitter.png");
                        }
                    }

                    &.icon-youtube {
                        a {
                            background-image: url("assets/images/icon_youtube.png");
                        }
                    }

                    &.icon-instagram {
                        a {
                            background-image: url("assets/images/icon_instagram.png");
                        }
                    }
                }
            }

        }

        >.footer-copyright {
            padding: 30px;
            text-align: center;
        }

    }
}

/*--------------------------------------------------------------
larger than 768 px (small devices, tablets)
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/*--------------------------------------------------------------
larger than 992 px (medium devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/*--------------------------------------------------------------
larger than 1200px (large devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
    body {
        >footer {
            &.footer {
                >.footer-cta {
                    background-position: 0px -830px;
                    background-size: cover;

                    >.footer-cta-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        width: 1024px;
                        margin: 0 auto;
                        padding: 0 30px;

                        >h2 {
                            padding: 120px 0 0 0;
                            text-align: left;
                        }

                        >div.footer-cta-img {
                            grid-row: 1/3;
                            text-align: center;
                        }

                        >div.footer-cta-btns {
                            text-align: left;
                        }
                    }
                }

                >.footer-social-links-menu {
                    ul {
                        margin-top: 30px;

                        li {
                            >a {
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}