/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
@import "_header.scss";


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
@import "_footer.scss";

/*--------------------------------------------------------------
Main
--------------------------------------------------------------*/

/* TITLE */
h1 {
    &.title {
        color: $primary-color;
        text-align: center;
        margin: 20px 0;
    }
}

/* SUBTITLE */
h2,
h3,
h4 {
    &.subtitle {
        color: $primary-color;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        text-align: center;
    }
}

h4 {
    &.subtitle {
        border-bottom: 1px solid $border-bottom-h4;
    }
}



/* BUTTON */
.btn,
.btn:link,
.btn:visited {
    font-size: $font-size-btn;
    padding: 10px 30px;
    width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(234, 0, 36, 0.2);
    margin: 10px 0;
    /* softens or eases the motion - makes it smoother */
    transition: all 0.5s;

    /* Remove the default "highlight"*/
    outline: none;

    &.btn-primary {
        color: $font-white;
        background-color: $primary-color;
    }

    &.btn-secondary {
        color: $font-black;
        background-color: $secondary-color;
        box-shadow: 0 4px 10px rgba(173, 173, 173, 0.2);
    }

    &.btn-outline-primary {
        color: $primary-color;
        border: 1px solid $primary-color;
        background-color: $font-white;
    }

    &.btn-outline-secondary {
        color: $font-black;
        border: 1px solid $secondary-color;
        background-color: $font-white;
        box-shadow: 0 4px 10px rgba(173, 173, 173, 0.2);
    }

    &:hover {
        transform: translateY(-4px);
    }

    &:active {
        transform: translateY(-2px);
    }
}

.btn-link,
.btn-link:link,
.btn-link:visited {
    color: $primary-color;
}

/* FORM */
.form,
.wpcf7-form {
    >.form-group {
        label {
            font-weight: 700;
            color: $font-black;
            font-size: $font-size-h4;
            display: block;
            padding: 0.5em;

            span {
                color: $primary-color;
            }

            >em {
                font-weight: 400;
                color: $primary-color;
                display: none;

                &::before {
                    content: "(";
                }

                &::after {
                    content: ")";
                }
            }
        }

        input[type="text"],
        input[type="email"],
        textarea {
            font-size: $font-size-h4;
            border: 1px solid $secondary-color;
            width: 100%;
            border-radius: 0.5em;
            padding: 0.5em;
            box-shadow: 0 4px 10px rgba(88, 88, 88, 0.2);

            /* softens or eases the motion - makes it smoother */
            transition: all 0.5s;

            /* Remove the default "highlight"*/
            outline: none;

            &:hover {
                transform: translateY(-2px);
            }

            &:active {
                transform: translateY(0);
            }
        }

        &.show-error {
            label {
                >em {
                    display: inline-block;
                }
            }

            input[type="text"],
            input[type="email"],
            textarea {
                border: 1px solid $primary-color;
            }
        }
    }
}

/* Box */
.box {
    margin: 20px 0;

    h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    >img {
        float: left;
        margin-right: 10px;
    }
}

/* Primary Container */
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0px;

    >main {}
}



/*--------------------------------------------------------------
larger than 768 px (small devices, tablets)
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/*--------------------------------------------------------------
larger than 992 px (medium devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/*--------------------------------------------------------------
larger than 1200px (large devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {

    /* BUTTON */
    .btn,
    .btn:link,
    .btn:visited {
        font-size: $desktop_font-size-btn;
        width: auto;
        display: inline-block;
        padding: 10px 50px;
    }

    //>.btn {
    //    width: inherit;
    //    margin: inherit;
    //    display: inline-block;
    //}

    //    body {
    //        >main {
    //            &.faq {
    //                section {
    //                    &.faq-popular-questions {
    //                        width: 1024px;
    //                        margin: 0 auto;
    //                        grid-template-columns: 1fr 1fr 1fr;
    //                        grid-template-rows: auto;
    //                        background-position: right center;
    //
    //                        >h2 {
    //                            grid-column: 1/4;
    //                        }
    //
    //                        >.faq-popular-questions-content {
    //                            grid-column: 1/3;
    //                            display: grid;
    //                            grid-template-columns: 1fr 1fr;
    //                            grid-template-rows: auto;
    //                        }
    //                    }
    //
    //                    &.faq-help-topics {
    //                        background-size: 200px;
    //
    //                        >.strawberry-plate {
    //                            width: 200px;
    //                            height: 110px;
    //                            top: -55px;
    //                        }
    //
    //                        >.faq-help-topics-content {
    //                            width: 1024px;
    //                            margin: 0 auto;
    //                            display: grid;
    //                            grid-template-columns: 1fr 1fr 1fr;
    //                            grid-template-rows: auto;
    //                        }
    //                    }
    //                }
    //            }
    //
    //            &.faq-single {
    //                >article {
    //                    width: 1024px;
    //                    margin: 0 auto;
    //                    grid-template-columns: 2fr 1fr;
    //                    grid-template-rows: auto;
    //                    background-position: right top;
    //
    //                    >h2,
    //                    .faq-single-content {
    //                        grid-column: 1/1;
    //                    }
    //
    //                    >.faq-single-img {
    //                        background-position: right top;
    //                    }
    //
    //                    >.faq-single-footer {
    //                        padding: 30px 30px 30px 0;
    //
    //                        .btn {
    //                            width: inherit;
    //                            margin: inherit;
    //                            display: inline-block;
    //                        }
    //                    }
    //
    //                }
    //            }
    //        }
    //
    //        >footer {
    //            &.footer {
    //                >.footer-cta {
    //                    background-image: linear-gradient(to right bottom, #ffffff6b, #ffffff6b),
    //                        url("assets/images/get_the_app_bg_1.png");
    //                    background-position: top left;
    //                    background-size: cover;
    //                    display: grid;
    //                    grid-template-columns: 1fr 1fr;
    //                    grid-template-rows: 1fr 1fr;
    //
    //                    >h2 {
    //                        padding: 120px 0 0 0;
    //                        text-align: left;
    //                    }
    //
    //                    >div.footer-cta-img {
    //                        grid-row: 1/3;
    //                    }
    //
    //                    >div.footer-cta-btns {
    //                        text-align: left;
    //
    //                        >.btn {
    //                            width: inherit;
    //                            margin: inherit;
    //                            display: inline-block;
    //                        }
    //                    }
    //                }
    //
    //                >.footer-social-links-menu {
    //                    ul {
    //                        li {
    //                            >a {
    //                                margin: 0 10px;
    //                            }
    //                        }
    //                    }
    //                }
    //            }
    //        }
    //    }
}