/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
@import "_header.scss";


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
@import "_footer.scss";

/*--------------------------------------------------------------
Main
--------------------------------------------------------------*/

/* TITLE */
h1 {
    &.title {
        color: $primary-color;
        text-align: center;
        margin: 20px 0;
    }
}

/* SUBTITLE */
h2,
h3 {
    &.subtitle {
        color: $primary-color;
        margin: 0 0 20px 0;
    }
}

h3 {
    &.subtitle {
        border-bottom: 1px solid $border-bottom-h3;
        //border-bottom-color: $border-bottom-h3;
    }
}



/* BUTTON */
.btn,
.btn:link,
.btn:visited {
    font-size: $font-size-btn;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(234, 0, 36, 0.2);
    margin: 10px;
    /* softens or eases the motion - makes it smoother */
    transition: all 0.5s;

    /* Remove the default "highlight"*/
    outline: none;

    &.btn-primary {
        color: $font-white;
        background-color: $primary-color;
    }

    &.btn-secondary {
        color: $font-black;
        background-color: $secondary-color;
        box-shadow: 0 4px 10px rgba(173, 173, 173, 0.2);
    }

    &.btn-outline-primary {
        color: $primary-color;
        border: 1px solid $primary-color;
        background-color: $font-white;
    }

    &.btn-outline-secondary {
        color: $font-black;
        border: 1px solid $secondary-color;
        background-color: $font-white;
        box-shadow: 0 4px 10px rgba(173, 173, 173, 0.2);
    }

    &:hover {
        transform: translateY(-4px);
    }

    &:active {
        transform: translateY(-2px);
    }
}

/* FORM */
.form {
    >.form-group {
        label {
            font-weight: 700;
            color: $font-black;
            font-size: $font-size-h4;
            display: block;
            padding: 0.5em;

            span {
                color: $primary-color;
            }

            >em {
                font-weight: 400;
                color: $primary-color;
                display: none;

                &::before {
                    content: "(";
                }

                &::after {
                    content: ")";
                }
            }
        }

        input[type="text"],
        textarea {
            font-size: $font-size-h4;
            border: 1px solid $secondary-color;
            width: 100%;
            border-radius: 0.5em;
            padding: 0.5em;
            box-shadow: 0 4px 10px rgba(88, 88, 88, 0.2);

            /* softens or eases the motion - makes it smoother */
            transition: all 0.5s;

            /* Remove the default "highlight"*/
            outline: none;

            &:hover {
                transform: translateY(-2px);
            }

            &:active {
                transform: translateY(0);
            }
        }

        &.show-error {
            label {
                >em {
                    display: inline-block;
                }
            }

            input[type="text"],
            textarea {
                border: 1px solid $primary-color;
            }
        }
    }
}

/* Box */
.box {
    margin: 10px 0;

    >img {
        float: left;
        margin-right: 10px;
    }
}

/* Primary Container */
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0px;

    >main {
        padding: 0 10px;
        width: 100%;
    }
}