/*--------------------------------------------------------------
larger than 768 px (small devices, tablets)
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/*--------------------------------------------------------------
larger than 992 px (medium devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/*--------------------------------------------------------------
larger than 1200px (large devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
    body {
        >main {
            &.faq {
                section {
                    h2 {
                        width: 1024px;
                        margin: 0 auto;
                        padding: 20px 0;
                    }

                    &.faq-popular-questions {
                        >.faq-popular-questions-content {
                            width: 1024px;
                            margin: 0 auto;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: auto;
                            grid-gap: 10px;
                        }
                    }

                    &.faq-help-topics {
                        >.faq-help-topics-content {
                            width: 1024px;
                            margin: 0 auto;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-template-rows: auto;
                        }
                    }
                }
            }
        }
    }
}