button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__skin;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__primary;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	

}


.wp-block-button__link {
	border: 1px solid $color__primary;
	border-radius: 5px;
	background-color: white;
	color: $color__primary;
	@include font-size(0.75);
	line-height: 1;
	width:261px;
	box-shadow: 0 1px 4px 0 $color__primary, 0 4px 18px 0 rgba(0, 0, 0, 0.19);
	&:hover {
		background-color: $color__primary;
		color:white;
	}
}

.wp-block-button{
	@media screen and (max-width:$query__small){
		display: block;
		clear:both;
    }
}

.ad-button{
	margin: .5em;
	border: 1px solid $color__primary;
	border-radius: 5px;
	background-color: $color__primary;
	color:white;
	@include font-size(0.75);
	line-height: 1;
	width:261px;
	box-shadow: 0 1px 4px 0 $color__primary, 0 4px 18px 0 rgba(0, 0, 0, 0.19);
	&:hover {
		background-color: white;
		color:$color__primary;
	}
}