/*--------------------------------------------------------------
>>>References and Credits
----------------------------------------------------------------
Author: Eduardo Pereira do Carmo 
Date: 2019-12-02
Description: References and Credits page of our theme
----------------------------------------------------------------

/*--------------------------------------------------------------
>>> Log
----------------------------------------------------------------
- Eduardo Pereira do Carmo (2019-12-02)
File created and add styles

----------------------------------------------------------------

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 References and Credits
--------------------------------------------------------------*/
.references-and-credits {
    padding: 30px;

    table {
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid $tertiary-color;
    }
}