.contact {
    display: grid;
    grid-template-rows: repeat (3, auto);
    grid-template-columns: 1fr;
    padding: 0 22px;


    .form-group input[type="submit"] {
        margin-top: -10px;
        border: none;
    }

    .contactDetails {
        margin: 10px;
        height: 522px;
        background-image: url("assets/images/contact_page.png");
        background-repeat: no-repeat;
        background-position-x: 18px;
    }

    .contactTitle {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .contactForm {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .contactDetails {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    hr {
        width: 218px;
        margin: 10px 0 10px 0;
    }
}