/*--------------------------------------------------------------
Page FAQ
--------------------------------------------------------------*/
.faq {
    section {
        &.faq-popular-questions {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 320px auto;
            background-image: url("assets/images/faq_question_mark.png");
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 220px;
            // padding-top: 380px;
            padding: 30px;

            >h2 {
                grid-row: 2/3;
            }

            >.faq-popular-questions-content {
                grid-row: 3/4;
            }
        }

        &.faq-help-topics {
            background-color: $secondary-bg-color;
            background-image: url("assets/images/circle_white_bottom_right.png"),
                url("assets/images/circle_gray_top_left.png");
            background-position: top left, bottom right;
            background-repeat: no-repeat;
            background-size: 100px;
            padding: 30px;

            >.faq-help-topics-content {
                >.faq-help-topics-content-col {
                    >h3 {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}