/*--------------------------------------------------------------
Page FAQ
--------------------------------------------------------------*/
.faq {
    section {
        &.faq-popular-questions {
            background-image: url("assets/images/faq_question_mark.png");
            background-position: top right;
            background-repeat: no-repeat;
        }

        &.faq-help-topics {
            background-color: $secondary-bg-color;
            background-image: url("assets/images/circle_white_bottom_right.png"),
                url("assets/images/circle_gray_top_left.png");
            background-position: top left, bottom right;
            background-repeat: no-repeat;

            >.faq-help-topics-content {
                >.faq-help-topics-content-col {
                    margin: 10px;
                }
            }

        }
    }
}