/*--------------------------------------------------------------
Page Home
--------------------------------------------------------------*/
.home-container {
    margin: auto 0;

    section {
        &#home-main {
            background-image: url("assets/images/circle_white_bottom_left.png");
            background-repeat: no-repeat;
            background-position: left 0 bottom 0;
            background-size: 130px 150px;

            >.home-main-container {
                position: relative;
                background-image: url("assets/images/home_bg_1.png");
                background-repeat: no-repeat;
                background-position: right 0 top 00;
                background-size: auto;
                padding-bottom: 30px;

                /*-----------------Animation plate--------------*/
                >.main-dish-1 {
                    background-image: url("assets/images/home_dish_1.png");
                    background-repeat: no-repeat;
                    background-size: 234px 234px;
                    height: 234px;
                    width: 234px;
                    position: absolute;
                    top: 70px;
                    right: -41px;
                }

                >.main-dish-2 {
                    background-image: url(assets/images/home_dish_2.png);
                    background-repeat: no-repeat;
                    background-size: 115px 113px;
                    height: 113px;
                    width: 115px;
                    position: absolute;
                    top: 15px;
                    left: -5px;
                }

                >.main-dish-3 {
                    background-image: url(assets/images/home_dish_3.png);
                    background-repeat: no-repeat;
                    background-size: 51px 51px;
                    height: 51px;
                    width: 51px;
                    position: absolute;
                    top: 140px;
                    left: 115px;
                }

                /*-----------------Main area--------------------*/
                >.main-area {
                    padding: 260px 33px 33px 33px;
                    position: relative;

                    h1 {
                        text-align: center;
                    }

                    p {
                        margin: 30px 0 30px 0;
                    }
                }
            }
        }

        /*-----------------Feature area--------------------*/
        &#feature {
            background-image: url("assets/images/circle_gray_top.png");
            background-repeat: no-repeat, no-repeat;
            background-position: left 0 top 0;
            background-size: 130px 150px;
            position: relative;
            text-align: center;
            padding: 30px 30px 0;

            >.home-sb-plate {
                background-image: url("assets/images/home_strawberry_palte.png");
                background-repeat: no-repeat;
                position: absolute;
                top: -4%;
                right: 15px;
                background-size: 100px 100px;
                height: 100px;
                width: 100px;
            }

            >h2 {
                color: $primary-color;
                margin: 20px;
            }

            article {

                // Style for each post on home page
                >.post-row {
                    display: grid;
                    grid-template-columns: repeat(1fr, 2fr);
                    grid-template-rows: repeat(1fr, 2fr);
                    justify-content: center;
                    text-align: center;
                    margin-top: 50px;

                    >.post-thumb {
                        grid-column: 1/2;
                        grid-row: 2/3;
                        width: 80px;
                        height: 80px;
                        margin-right: 1.5rem;
                        margin-top: -2rem;
                    }

                    >.entry-header {
                        grid-column: 2/3;
                        grid-row: 1/2;
                        text-align: left;

                    }

                    >.entry-content {
                        grid-column: 2/3;
                        grid-row: 2/3;
                        text-align: left;
                        padding-top: 10px;
                    }
                }
            }


        }

        /*-----------------FQA area on Home page--------------------*/
        &#faq-area {
            background-image: url("assets/images/home_fqa_bg_small.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;

            >.faq-box {
                text-align: center;
                padding: 30px;
            }
        }
    }
}

/*--------------------------------------------------------------
larger than 768 px (small devices, tablets) to 1200 px (medium devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        >main {
            &.home-container {
                section {
                    &#feature {
                        >.post-area-row {
                            min-height: 700px;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: auto;

                            >.post-col-1 {
                                display: none;
                            }

                            >.post-col-2 {
                                grid-column: 1/2;
                                align-self: center;
                                margin: 10px;
                            }

                            .post-col-3 {
                                grid-column: 2/3;
                                align-self: center;
                                margin: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*--------------------------------------------------------------
larger than 1200px (large devices)
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
    body {
        >main {
            &.home-container {
                section {
                    &#home-main {
                        display: grid;
                        grid-template-columns: auto 1024px auto;
                        background-image: url("assets/images/circle_white_bottom_left.png");
                        background-repeat: no-repeat;
                        background-position: left 0 bottom 0;
                        background-size: 150px;

                        >.home-main-container {
                            grid-column: 2/3;
                            background-image: url("assets/images/home_main_bg.png");
                            background-repeat: no-repeat;
                            height: 550px;
                            background-position: right 0 top 0;
                            background-size: auto 550px;



                            /*-----------------Animation plate--------------*/
                            >.main-dish-1 {
                                background-size: 300px 300px;
                                height: 300px;
                                width: 300px;
                                top: 125px;
                                right: 110px;
                            }

                            >.main-dish-2 {
                                background-size: 180px 180px;
                                height: 180px;
                                width: 180px;
                                top: 463px;
                                left: auto;
                                right: -60px;
                            }

                            >.main-dish-3 {
                                background-size: 60px 60px;
                                height: 60px;
                                width: 60px;
                                top: 440px;
                                right: 150px;
                                left: auto;
                            }

                            /*-----------------Main area--------------------*/
                            >.main-area {
                                text-align: left;
                                padding-top: 170px;

                                >h1 {
                                    text-align: left;
                                }
                            }
                        }

                        >.home-main-container-null {
                            grid-column: 3/4;
                            background-color: #ea0024;
                        }
                    }

                    &#feature {
                        background-size: 150px;

                        >.home-sb-plate {
                            display: none;
                        }

                        >.home-dish-plate {
                            background-image: url("assets/images/home_dish_plate.png");
                            background-repeat: no-repeat;
                            position: absolute;
                            top: -18%;
                            right: 0;
                            background-size: auto 300px;
                            height: 300px;
                            width: 121px;
                        }

                        >.post-area-row {

                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-rows: auto;
                            width: 1024px;
                            margin: 0 auto;

                            >.post-col-1 {
                                grid-column: 1/2;
                                grid-row: 1/4;
                                background-image: url("assets/images/mobile_dishlist_icon.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                min-height: 600px;
                            }

                            >.post-col-2 {
                                grid-column: 2/3;
                                align-self: center;
                                margin: 20px;
                            }

                            >.post-col-3 {
                                grid-column: 3/4;
                                align-self: center;
                                margin: 20px;
                            }
                        }


                    }

                    &#faq-area {
                        background-image: none;

                        >.faq-box {
                            background-image: url("assets/images/home_fqa_bg_big.jpg");
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: center;
                            width: 1024px;
                            height: 380px;
                            margin: 0 auto;
                            text-align: left;
                            padding-left: 230px;

                            >h2 {
                                margin-top: 125px;
                                font-size: 2.5rem;
                            }
                        }
                    }

                }
            }
        }
    }
}