/*--------------------------------------------------------------
>>> Home
----------------------------------------------------------------
Author: Zeinab Ahmadi 
Date: 2019-11-14
Description: Home page of our theme
----------------------------------------------------------------

/*--------------------------------------------------------------
>>> Log
----------------------------------------------------------------
- Zeinab Ahmadi (2019-11-14)
File created and all the new styles
----------------------------------------------------------------

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Hero
2.0 Features
3.0 FAQ
--------------------------------------------------------------*/

.home-container {
    margin: auto 0;

    section {

        /*--------------------------------------------------------------
        1.0 Hero
        --------------------------------------------------------------*/
        &#home-main {
            background-image: url("assets/images/circle_white_bottom_left.png");
            background-repeat: no-repeat;
            background-position: left 0 bottom 0;
            background-size: 130px 150px;

            >.home-main-container {
                position: relative;
                background-image: url("assets/images/home_bg_1.png");
                background-repeat: no-repeat;
                background-position: right 0 top 00;
                background-size: auto;
                padding-bottom: 30px;

                >.main-dish-1 {
                    background-image: url("assets/images/home_dish_1.png");
                    background-repeat: no-repeat;
                    background-size: 234px 234px;
                    height: 234px;
                    width: 234px;
                    position: absolute;
                    top: 70px;
                    right: -41px;
                }

                >.main-dish-2 {
                    background-image: url(assets/images/home_dish_2.png);
                    background-repeat: no-repeat;
                    background-size: 115px 113px;
                    height: 113px;
                    width: 115px;
                    position: absolute;
                    top: 15px;
                    left: -5px;
                }

                >.main-dish-3 {
                    background-image: url(assets/images/home_dish_3.png);
                    background-repeat: no-repeat;
                    background-size: 51px 51px;
                    height: 51px;
                    width: 51px;
                    position: absolute;
                    top: 140px;
                    left: 115px;
                }

                >.main-area {
                    padding: 260px 33px 33px 33px;
                    position: relative;

                    h1 {
                        text-align: center;
                    }

                    p {
                        margin: 30px 0 30px 0;
                    }
                }
            }
        }

        /*--------------------------------------------------------------
        2.0 Features
        --------------------------------------------------------------*/
        &#feature {
            background-image: url("assets/images/circle_gray_top.png");
            background-repeat: no-repeat, no-repeat;
            background-position: left 0 top 0;
            background-size: 130px 150px;
            position: relative;
            text-align: center;
            padding: 30px 30px 0;

            >.home-sb-plate {
                background-image: url("assets/images/home_strawberry_palte.png");
                background-repeat: no-repeat;
                position: absolute;
                top: -4%;
                right: 15px;
                background-size: 100px 100px;
                height: 100px;
                width: 100px;
            }
        }

        /*--------------------------------------------------------------
        3.0 FAQ
        --------------------------------------------------------------*/
        &#faq-area {
            background-image: url("assets/images/home_fqa_bg_small.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            >.faq-box {
                text-align: center;
                padding: 30px;
            }
        }
    }
}