/*--------------------------------------------------------------
>>>Our Team
----------------------------------------------------------------
Author: Marcos Cavalcanti
Date: 2019-11-14
Description: Our Team page of our theme
----------------------------------------------------------------

/*--------------------------------------------------------------
>>> Log
----------------------------------------------------------------
- Marcos Cavalcanti (2019-11-14)
File created and styles
----------------------------------------------------------------

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Our Team
    1.1 Box Photo
    1.2 Box Description
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Our Team
    1.1 Box Photo
    1.2 Box Description
--------------------------------------------------------------*/
.our-team-users {
  >.our-team-users-container {
    .user-box {
      padding: 0 30px 30px;
      display: flex;
      flex-direction: column;

      /*--------------------------------------------------------------
      1.1 Box Photo
      --------------------------------------------------------------*/
      >.user-box-photo {
        width: 250px;
        height: 250px;
        border: 1px solid $font-black;
        text-align: center;
        background: url("assets/images/our-team-photo-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 40px;
        margin: 0 auto 40px;
        flex-shrink: 0;

        >img {
          max-width: 120px;
          max-height: 120px;
          border-radius: 50%;
          border: 3px solid $font-black;
        }
      }

      /*--------------------------------------------------------------
      1.2 Box Description
      --------------------------------------------------------------*/
      >.user-box-description {
        position: relative;
        border: 1px solid $font-black;
        background-color: $secondary-color;
        padding-top: 40px;

        >img {
          position: absolute;
          max-width: 57px;
          max-height: 57px;
          top: 10px;
          left: 20px;
        }

        >p {
          padding: 30px;
          background-color: $font-white;
          height: 100%;
        }
      }
    }
  }
}